<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link th:href="@{/css/style/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style/grayscale.min.css}" rel="stylesheet" type="text/css"/>
    <style type="text/css" rel="stylesheet">
        [class="form-group row"] {
            margin-left: 0!important;
            margin-right: 0!important;
        }

        table tr th,
        table tr td {
            color: #000;
        }
    </style>
</head>