<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" th:href="@{/}">
                <i class="fa fa-play-circle"></i> <span class="light">Start</span> Game
            </a>
        </div>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav" id="provider"
                th:attr="auth=${#authorization.expression('isAuthenticated()')}, admin=${#authorization.expression('hasRole(''ADMIN'')')}">
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="AdminDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/tasks/}">Tasks</a>
                    </div>
                </li>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a th:href="@{/chat}" class="nav-link">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/users/characters/}" class="nav-link">My Characters</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/characters/ranking}" class="nav-link">Ranking</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/users/logout}" class="nav-link" id="btn-logout">
                            Logout
                        </a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a th:href="@{/users/register}" class="nav-link" id="btn-register">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/users/login}" class="nav-link" id="btn-login">
                            Login
                        </a>
                    </li>
                </th:block>
                <li class="nav-item">
                    <a href="#about" class="nav-link">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">
                        Contacts
                    </a>
                </li>
            </ul>


            <!--
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
            -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">

</header>

<!--
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" >Game</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li id="time" class="nav-item nav-link"></li>
            </ul>

        </div>


    </div>
</nav>
-->