<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}"></head>

<body>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<div th:insert="~{fragments/header}"></div>

<div class="intro-body" style="width: 100%;text-align: center;margin: 100px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<main id="content" th:replace="~{${view} :: main}"></main>


<div class="container">
    <div class="row text-center">

        <!-- About Section -->
        <section id="about" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Me</h2>
                    <p>I`m a programmer doing my best in making successful applications.</p>
                </div>
            </div>
        </section>


        <!-- Contact Section -->
        <section id="contact" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Me</h2>
                    <p>Feel free to contact me by this location or find me in one of my profiles.</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.744250277733!2d23.350088596343994!3d42.66677475599223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf53fcbcd8e758d7!2sSoftware+University!5e0!3m2!1sen!2sbg!4v1493971026002" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://www.linkedin.com/in/mariyan-apostolov-57934392/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<span th:insert="~{fragments/scripts-bundle}"></span>

</body>
</html>

